.step {
  width: 40px;
  height: 40px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.step.completed {
  background-color: var(--darker-color);
  color: white;
}

.step.current {
  background-color: var(--primary-color);
  color: white;
}

.step-indicator {
  display: flex;
}

.lineToNext {
  content: "";
  width: 200px;
  margin: auto;
  height: 4px;
  background-color: var(--secondary-color);
  position: relative;
}
